<h1>Nested Data and the power of ngTemplateOutlet</h1>
<div class="app__sections">
  <ng-template #nestedList let-sections>
  <accordion *ngFor="let section of sections;" >
    <accordion-group heading = {{section.title}}>
      <span *ngIf="hasSubSections(section)">
        <ng-container *ngTemplateOutlet="nestedList; context:{ $implicit: section.sections }">
        </ng-container>
      </span>
      <span  class="app__no-subsections" *ngIf="!hasSubSections(section)"> This does not have any sub sections</span>
    </accordion-group>
  </accordion>
  </ng-template>
  <ng-container *ngTemplateOutlet="nestedList; context:{ $implicit: sections }"></ng-container>
</div>